body{
    margin: 0;
}
.green{
    width: 700px;
    height: 400px;
    background-color: green;
    overflow: hidden;
}
.red{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
    display: block;
    margin: 90px auto;
}